* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: ' ';
  visibility: hidden;
  pointer-events: none;
}

.btn:focus .header-link,
.btn:hover .header-link,
.btn:active .header-link {
  visibility: visible;
}

.header-link {
  width: 1.2rem;
  pointer-events: none;
  transition: visibility 0s linear 100ms;
  visibility: hidden;
  height: 24px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-right: -40px !important;
  padding-right: 40px;

  span {
    margin-left: 0.5rem;
  }

  &:hover,
  a:hover {
    i-feather {
      visibility: visible;
    }
  }
}
